body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  font-weight: 300;
}
pre {
  padding: 20px;
  color: #abb2bf;
  font-family: Consolas, monospace;
  font-size: 15px;
  background-color: #282c34;
  margin: 0;
}
.keyword {
  color: #c678dd;
}
.string {
  color: #98c379;
}
.name {
  color: #e06c75;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}